.background{

    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 0.3925729442970822) 0%, rgba(253, 29, 29, 0.4137931034482759) 50%, rgba(252, 176, 69, 0.4137931034482759) 100%);
}
.title{
    padding: 10px 30px;
    background-color: #00000081;
    border-radius: 15px;
    color: #ffffff;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    text-decoration: underline;
}
.container {
    width: 80min;
    padding: 50px 30px;
    background-color: rgba(255, 255, 255, 0.488);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 15px 15px rgba(65, 64, 64, 0.678);
}
#quote {
    text-align: justify;
    padding: 30px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(249, 245, 245);
    float: right;
    margin-top: 20px;
    background-color: #00000096;
    color: rgb(255, 254, 254);
    border: thin black;
    padding: 10px 30px;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 0 5px 5px rgba(63, 62, 62, 0.678);
}
textarea {
    resize: none;
    width: 100%;
    border-radius: 10px 5px;
    padding: 10px 5px;
    font-size: 16px;
    border: 3px solid #555;
}

.success{
    color: green;
}
.fail {
    color: red;
}
.quote-chars {
    display: inline-block;
    color: rgb(161, 157, 157);
    border: solid 1px rgb(61, 58, 58);
    box-shadow: 0 5px 5px rgba(63, 62, 62, 0.678);
    text-decoration: none;
    padding: 7px;
    margin: 3px;
    outline: none;
    border-radius: 5px;
}